* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  width: 1280px;
  padding: 0 2rem;
}
.heading{
  background-image: linear-gradient( to top right, #6AB7F4, #A26CF3);
  padding: 2rem;
  font-size: 15px;
  color: white;
  text-align: center;
}
h1{
  padding-top: 0;
  margin-top: 0;
}
.form-control{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-30{
  flex: 0 1 30%;
}
.customizedButton{
  padding: 3px 5px ;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  margin: 1rem 0.5rem;
  text-transform: uppercase;
}
li{
  background-color: #B8DFDF;
  border-radius: 10px;
  list-style: none;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
li img{
  border-radius: 50%;
  margin-top: 5px;
}
.custombutton{
  padding: 5px 8px ;
  background-color: black;
  border: 1px solid black;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
}
li h3{
  margin: 0;
  padding-top: 10px;
}
.active{
  background-color: white;
  color: black;
}